<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script type="text/javascript" src="http://pop.letsun.com.cn/gqft/tansuzhe/js/lufylegend-1.10.1.min.js"></script>
<div id="mylegend">loading……</div>
<script>
    init(50,"mylegend",1200,680,main);
    function main(){
        alert("感谢您使用lufylegend库件");
    }
</script>
<script>
//    console.log(LGlobal.ios);//是ios就是true,否则为false
//    console.log(LSound.webAudioEnabled);
//    console.log(LGlobal.mobile);
</script>
</body>
</html>