<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    html,body{height:100%;}
</style>
<body>
<div id="audio_btn" class="off none rotate" style="display:block;">
</div>
<script src="js/js.js"></script>
<script>
    var audio_btn=$('#audio_btn');
    var media=document.createElement('audio');
    media.id='media';
    media.loop='loop';
    media.src='audio/yewen.mp3';
//    media.autoplay='autoplay';
    media.preload='preload';//规定页面加载完成后载入音频
    audio_btn.appendChild(media);
    addEvent(window,'load',function() {
        alert($("#media").paused);
        if($("#media").paused){
            alert('没播放');
        }
    })
    addEvent(document,'touchstart',function(){
        $("#media").play();
    })
</script>
</body>
</html>