body{margin:0;padding:0;font: 12px/1.5 tahoma, arial, "宋体"!important;background:#fff;}
body,button,input,select,textarea{font: 12px/1.5 tahoma, arial, "宋体";color:#666;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,textarea,p{margin:0;padding:0;}
table,td,tr,th{font-size:12px;}
li{list-style-type:none;}
img{vertical-align:top;border:0;}
ol,ul{list-style:none;}
h1,h2,h3,h4,h5,h6{font-szie:12px;font-weight:normal;}
address,cite,em,th{font-weight:normal;font-style:normal;}
.left{float:left;}
.right{float:right;}
.clearfix{zoom:1;}
.clearfix:after{content:"";display:block;clear:both;visibility:hidden;font-size:0;height:0;line-height:0;}
.bold{font-weight:700;}
a{text-decoration:none;color:#06c;outline:0;}
a:link{}
a:visited{}
a:hover{}
a:active{}