.clearfix{}
.clearfix:after{content:"";display:block;clear:both;}
/*slide start*/
.pages li{list-style-type:none;width:10px;height:10px;border-radius:10px;background-color:white}
.pages li:hover{box-shadow:0 0 5px 2px white}
.pages li.active{background-color:#9fa0a2;}
.pages{position:absolute;z-index:999}
.pages.horizontal{left:50%;transform:translateX(-50%);bottom:5px}
.pages.horizontal li{display:inline-block;margin-right:10px}.pages.horizontal li:last-child{margin-right:0}
.pages.vertical{right:5px;top:50%;transform:translateY(-50%)}.pages.vertical li{margin-bottom:10px}
.pages.vertical li:last-child{margin-bottom:0}
#container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.sections,.section {
    height:100%;
}
#container,.sections {
    position: relative;
}
.section {
    background-color: #000;
    background-size: cover;
    background-position: 50% 50%;
    text-align: center;
    color: white;
}
.sections .container{position:relative;color:#000;}
.sections .container:before,.m-teaser-superhero .container:before{background:none;}
.sections .container h3{position: absolute;left:10px;top:50px;font-size:32px;cursor:pointer;}
.sections .container p{display:none;position: absolute;left:10px;top:83px;font-size:16px;}
.banner_briefing{}
.banner_briefing{height:190px;background:url("../img/bn_briefing.png") no-repeat;}
.pub_h3{padding-top:69px;line-height:123px;text-align:center;color:#fff;font-size:24px;}
.m-teaser-superhero .pub_h3{padding-top:169px;}
.m-teaser-superhero{height:280px;}
@media (min-width: 768px){
    .sections .container h3{left:0;top:256px;font-size:42px;}
    .sections .container p{left:0;top:303px;font-size:24px;}
    .banner_briefing{height:385px;background:url("../img/bn_briefing.png") no-repeat;}
    .pub_h3{padding-top:138px;line-height:247px;font-size:48px;}
    .m-teaser-superhero .pub_h3{padding-top:338px;}
    .m-teaser-superhero{height:586px;}
}
/*slide end*/
/*三张图幻灯*/
.slideThree{width:1280px;height:390px;margin:0px auto;background:#fff;overflow:hidden;}
.kuzhan {
    width:100%;
    height:100%;
    overflow:hidden;
    position:relative;
}
.kuzhan-ul {
    position:relative;
    width:8640px;
    height:100%;
    margin:0;
    padding:0;
}
.kuzhan-ul li {
    position: relative;
    float:left;
    margin-right:1px;
    width:425.7px;
    height:100%;
    overflow:hidden;
}
.kuzhan-ul a {
    display:block;
    width: 100%;
    height: 100%;
    overflow:hidden;
    color:#fff;
}
.kuzhan-ul a img{
    width: 100%;
    height: 100%;
}
.kuzhan-ul a:hover .pic-txt {
    color:#fff;
}
.kuzhan-ul .pic-txt {
    display:block;
    bottom:0;
    position:absolute;
    width:100%;
    height:84px;
    font:28px/84px Microsoft YaHei;
    text-align:center;
    z-index:1;
    cursor:pointer;
}
.info-btn {
    width:225px;
    height:22px;
    overflow:hidden;
    margin:0 auto;
    padding:11px 0;
    zoom:1;
}
.info-btn li {
    float:left;
    padding:0 3px;
}
.info-btn li span {
    display:block;
    width:22px;
    height:22px;
    text-indent:-9999em;
    overflow:hidden;
    cursor:pointer;
}
.info-btn .info-cur span, .info-btn .info-hover span {
    background-position:0 0;
}
/*三张图幻灯*/
/*team*/
.slideSchool{height:518px;}
.slideSchool a img{height:452px;}
.slideSchool .pic-txt{height: 67px;line-height: 67px;font-size:28px;color:#4b4b4b;background:#e6e7e9;}
.slideSchool a:hover .pic-txt{color:#4b4b4b;}
.slideSchool .pic-txt i{font-size:18px;color:#949399;}
/*team*/
/*讲师孵化*/
.g-hatch .pub_h3{padding-top:54px;line-height:44px;width:280px;font-size:20px;text-align:center;}
.g-hatch .pub_p{padding:0 10px;font-size:14px;line-height:20px;color:#fff;}
.listHatct{width:100%;}
.listHatct li{width:100%;}
.listHatct .kuzhan-ul{width:100%;}
@media (min-width: 768px){
    .g-hatch .pub_h3{padding-top:108px;line-height:88px;width:562px;font-size:50px;}
    .g-hatch .pub_p{padding:0;width:562px;font-size:22px;line-height:34px;}
    .listHatct li{width:49.8%;}
}
/*讲师孵化*/
/*区域总裁*/
.g-zongcai{height:243px;background:#ececec;overflow:hidden;}
.g-zongcai ul{position: relative;margin-top: -115px; margin-left: 462px;}
.g-zongcai ul li{float:left;padding-top:40px;padding-left:85px;width:272px;height:111px;}
.g-zongcai ul li img{float:left;width:71px;height:71px;border-radius:50%;}
.g-zongcai ul li h4{float:left;padding-top:12px;padding-left: 15px;line-height: 25px;font-size:18px;color:#000;}
.g-zongcai ul li p{float:left;padding-left: 15px;line-height: 22px;font-size:12px;color:#848b95;}

/*区域总裁*/
/*分享*/
.g-share{}
.g-share .left_email{display:none;float:left;padding-top:65px;padding-left:0px;width:42%;}
.g-share .right_share{float:left;width:51%;padding-top:22px;}
.g-share .right_share h4{padding-top:22px;width: 537px;line-height:38px;color:#656567;}
.g-share .right_share div{font-size:0;width:489px;}
.g-share .right_share div img{margin-left: 50px; box-sizing: content-box;width:101px;height:101px;border:solid 6px #fff;}
.g-share .right_share p{width: 537px;}
@media (min-width: 768px){
    .g-share .left_email{display:block;padding-left:200px;}
}
@media (min-width: 1280px){
    .g-share .left_email{display:block;padding-left:415px;}
    .g-share .right_share{background:url("../img/bg_cartoon.png") right 22px no-repeat;}
}
/*分享*/
/*底部*/
@media (min-width: 768px){
}
/*底部*/
/*弹出层*/
#alert{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.35);z-index:99999;}
#alert .bg{position:absolute;left:0;top:50%;margin-top:-267px;width:100%;height:534px;background:url("../img/bg_alert.png");}
#alert ul{margin:0 auto;padding:42px 28px 85px;width:1280px;}
#alert li{box-sizing: content-box;float:left;padding:0 78px;width:149px;height:408px;}
#alert li a{display:block;width:146px;text-align:center;color:#fff;text-decoration:none;}
#alert li .picAlert{width:146px;height:146px;border-radius:50%;border:solid 5px #969697;}
#alert li h3{line-height:39px;font-size:22px;}
#alert li span{display:block;line-height:30px;font-size:14px;}
#alert li .QRalert{margin-top:10px;border:solid 5px #fff;}
/*弹出层*/
/*分页下的师资团队*/
.pageTeam.slideSchool{height:auto;}
.pageTeam .kuzhan-ul{margin-bottom:-72px;width:100%;}
.pageTeam .kuzhan-ul li{margin-bottom:72px;width:425px;}
/*page*/
.page{text-align:center;}
.page a,.page span{margin-left:2px;padding:0 10px;display:inline-block;border:solid 1px #e7e7e7;line-height:30px;color:#000;text-decoration:none;}
.page a:hover,.page span{border-color:#d6d6d6;background:#d6d6d6;}
/*page*/
/*下拉*/
.selectPosition{position: absolute;right:0;top:60px;}
.selectDiv {
    display: inline-block; width: 211px; height: 43px; line-height: 39px; position: relative; text-align: center;
    /* 2 */
    vertical-align: middle;
    /* 3 */
    padding: 0;
    /* 4 */
    overflow: hidden;
    /* 5 */
    background: #fff;
    color: #555;
    border: 1px solid #6a6a6a;
    text-shadow: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-transition: box-shadow 0.25s ease;
    -o-transition: box-shadow 0.25s ease;
    -webkit-transition: box-shadow 0.25s ease;
    transition: box-shadow 0.25s ease;
    /* 6 */
    /* 6 */
}
.selectDiv:hover {
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}
.selectDiv:before {
    position: absolute;
    /* 7 */
    top: 0.5em;
    /* 7 */
    right: 0.5em;
    /* 7 */
    pointer-events: none;
    /* 8 */
}
.selectDiv select {
    cursor: pointer;
    /* 9 */
    padding: 0.5em;
    /* 10 */
    padding-right: 2em;
    /* 11 */
    width: 130%;
    /* 12 */
    border: none;
    /* 13 */
    background: transparent;
    /* 13 */
    background-image: none;
    /* 13 */
    -webkit-appearance: none;
    /* 13 */
    -moz-appearance: none;
    /* 13 */
    appearance: none;
    /* 13 */
    text-indent: 0.01px;
    /* 14 */
    text-overflow: '';
    /* 14 */
    width: 160% \9;
    font-size: 16px;
    color: #a2a2a2;
    /* 15 */
}
.selectDiv select:focus {
    outline: none;
    /* 16 */
}

/****************************
 ****************************
 ****************************
 * Helpers
 */
.selectDiv:before {
    content: ""; display: inline-block; position: absolute; background: url(../img/btn_button.png) right center no-repeat; top: 0; right: 10px; width: 17px; height: 100%; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
/*下拉*/
.m-teaser-hero-join.is-green .wrapper {
    background: #37A42C
}

.m-teaser-hero-join.is-turquoise .wrapper {
    background: #00AAC9
}

.m-teaser-hero-join.is-pink .wrapper {
    background: #E6006E
}

.m-teaser-hero-join.is-orange .wrapper {
    background: #CC8A00
}

.m-teaser-hero-join.is-lemongreen .wrapper {
    background: #CDD400
}

.m-teaser-hero-join.is-yellow .wrapper {
    background: #FED700
}

.m-teaser-hero-join.is-darkblue .wrapper {
    background: #004775
}

.m-teaser-hero-join.is-red80p .wrapper {
    background: #e6593f
}


.m-teaser-double-join .wrapper .content.is-green {
    background: #37A42C
}

.m-teaser-double-join .wrapper .content.is-turquoise {
    background: #00AAC9
}

.m-teaser-double-join .wrapper .content.is-pink {
    background: #E6006E
}

.m-teaser-double-join .wrapper .content.is-orange {
    background: #CC8A00
}

.m-teaser-double-join .wrapper .content.is-lemongreen {
    background: #CDD400
}

.m-teaser-double-join .wrapper .content.is-yellow {
    background: #FED700
}

.m-teaser-double-join .wrapper .content.is-darkblue {
    background: #004775
}

.m-teaser-double-join .wrapper .content.is-red80p {
    background: #e6593f
}


.m-teaser-hero.is-green .wrapper {
    background: #37A42C
}

.m-teaser-hero.is-turquoise .wrapper {
    background: #00AAC9
}

.m-teaser-hero.is-pink .wrapper {
    background: #E6006E
}

.m-teaser-hero.is-orange .wrapper {
    background: #CC8A00
}

.m-teaser-hero.is-lemongreen .wrapper {
    background: #CDD400
}

.m-teaser-hero.is-yellow .wrapper {
    background: #FED700
}

.m-teaser-hero.is-darkblue .wrapper {
    background: #004775
}

.m-teaser-hero.is-red80p .wrapper {
    background: #e6593f
}


.m-header .container .wrapper .quicksearch-wrapper .quicksearch {
    background-color: #f9f9f9;
}


@media (min-width: 768px) {
    .jobpostings .filter .options .option {
        width: 49%;
        margin-right: 1%;
    }
}