@charset "utf-8";
/* CSS Document */
*{color:#777;margin: 0;padding: 0;}
a{text-decoration:none; color:#515151;}
ul{ list-style-type:none;}
img{display:block;}
html, body { position:relative; color:#515151; background:#eee;}
body{font-family: Helvetica Neue, Helvetica, Arial, sans-serif; background:url(images/bg.jpg);font-size:1em/100%;}
.swiper-container { width: 100%; height: 100%;}
@media only screen and (max-width:540px){
  body{ font-size:168.5%;}
}
@media only screen and (max-width:480px){
  body{ font-size:150%;}
}
@media only screen and (max-width:414px){
  body{ font-size:129.375%;}
}
@media only screen and (max-width:400px){
  body{ font-size:125%;}
}
@media only screen and (max-width:375px){
  body{ font-size:117.1825%;}
}
@media only screen and (max-width:360px){
  body{ font-size:112.5%;}
}
@media only screen and (max-width:320px){
  body{ font-size:100%;}
}

.top{ width:100%; height:3em; line-height:3em; position:relative; background:#ef5d6b;}
.top a{ display:block; position:absolute; width:2.5%; left:1.7%; top:1em;}
.top a img{ width:100%; height:.8125em;}
.top label{ display:block; text-align:center; font-size:1em; color:#FFF;}

.swiper-container{width:100%;height: 8.4375em;}
.swiper-banner{ border-top:.3125em solid #eee;}
.swiper-slide{ width:100%; height:100%; background:#FFF;}
.swiper-slide img{ width:100%; height:100%;}
.swiper-container-horizontal > .swiper-pagination{ bottom:2px;}
.swiper-pagination-bullet{ background:#FFF; opacity:1;}
.swiper-pagination-bullet-active{ background:#ef5d6b;}

div.disB,ul.disB{ display:block;}