@charset "utf-8";
/* CSS Document */
.banList {width: 16rem; margin:0;}
.banList .swiper-slide img{ width:100%; height:auto; display:block;}
.swiper-pagination-bullet-active{ background:#fff;}
.seaDiv{ width:16rem; height:1.65rem; padding-top:.4rem; background:#f7522a;}
.seaDiv input{ width:15rem; padding-left:.6rem; font-size:.55rem; color:#888; height:1.25rem; border-radius:.625rem; display:block; background:url(../images/seaimg.jpg) no-repeat 13.7rem center #fff; background-size:.6rem auto; box-sizing:border-box; border:1px solid #d5d5d5; margin:0 auto;}

.proList{ width:16rem; display:inline-block;}
.proList1{ width:7.7rem; float:left; padding-left:.7rem; padding-bottom:.5rem; box-sizing:border-box;}
.proList1_1{ width:7rem; height:7rem; box-sizing:border-box; border:1px solid #dadada; position:relative; background:#fff}
.proList1_1 img{ width:100%; height:100%;}
.proList1_1 label{ font-size:.55rem; color:#f7522a; position:absolute; left:.3rem; bottom:.2rem;}
.proList1_2{}
.proList1_2 p{ padding:0 .2rem; width:7rem; box-sizing:border-box; display:inline-block; position:relative;}
.proList1_2 p label{ font-size:.6rem; color:#555;}
.proList1_2 p a{ font-size:.55rem; padding:0 .15rem; color:#fff; background:#f7522a; position:absolute; right:.15rem; bottom:.15rem;}


.sliDiv{ height:1.75rem; padding:.125rem 0; background:#f3f3f3; position:relative;}
.sliDiv1{ height:1.75rem; width:4rem; float:left; font-size:.65rem; border-bottom:1px solid #c9c9c9;}
.sliDiv1 p{ line-height:1.65rem; width:4rem; padding-left:.3rem; box-sizing:border-box;color:#777; border-right:1px solid #c2c2c2; background:url(../images/slideimg1.jpg) no-repeat 3rem center; background-size:.4rem auto;}
.sin p{ color:#f7522a;background:url(../images/slideimg2.jpg) no-repeat 3rem center;  background-size:.4rem auto;}
.sliDiv1_1{ background:#fff;}
.sin .sliDiv1_1{ display:block;}
.sliDiv1_1{ width:16rem; display:none; position:absolute; left:0; top:2rem; z-index:3}
.sliDiv1_1 label{ width:16rem; color:#888; box-sizing:border-box; padding-left:.4rem; height:1.95rem; display:block; line-height:1.95rem; border-bottom:1px solid #c9c9c9;}
.disB{ display:block;}



/*积分商城下拉加载更多*/
#wrapper {
	position:absolute; z-index:1;
	top:0; bottom:2.2rem; left:0;
	width:16rem;
	background:#f3f3f3;
	overflow:auto;
}

#scroller {
	position:relative;
/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);

	float:left;
	width:100%;
	padding:0;
}

#scroller ul {
	position:relative;
	list-style:none;
	padding:.4rem 0 0;
	margin:0;
	width:100%;
	text-align:left;
}

#scroller li > a {
	display:block;
}
#thelist{ display:inline-block;}

/**
 *
 * 下拉样式 Pull down styles
 *
 */
div#pullUp {
	background:#fff;
	height:40px;
	line-height:40px;
	padding:0;
	width:100%;
	text-align:center;
	border-bottom:1px solid #ccc;
	font-weight:bold;
	font-size:14px;
	color:#888;
}
